[submodule "gem5"]
	path = gem5
	url = https://github.com/gem5/gem5.git
[submodule "ento-bench"]
	path = ento-bench
    url = https://github.com/studyztp/ento-bench.git
    branch = semihosting-naive
